{% load static %}
{% load books_tags %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />-->

	<link href='{% static "books/css/style.css" %}' rel='stylesheet' type='text/css'>
	<link href='{% static "books/css/add_book.css" %}' rel='stylesheet' type='text/css'>
	<link href='{% static "books/css/form.css" %}' rel='stylesheet' type='text/css'>
	<link href='{% static "books/css/genre.css" %}' rel='stylesheet' type='text/css'>
	<link href='{% static "books/css/genre_detail.css" %}' rel='stylesheet' type='text/css'>


	<script type="text/javascript" src="{% static 'books/js/min.js' %}"> </script>


</head>
<body>


<div class="header">
   <div class="icon-bar">
        <a class="active" href="{% url 'books:home' %}"><i class="fa fa-home">Домой</i></a>
        <a href="{% url 'books:register' %}"><i class="fa fa-envelope"></i>регистрация</a>
        <a href="{% url 'books:genre_cat' %}"><i class="fa fa-globe"></i>Жанр</a>
       <a href="{% url 'books:login' %}"><i class="fa fa-trash"></i> Добавить книгу</a>



   </div>
</div>



{% block content %}
{% endblock content %}






</body>
</html>