{% load static %}
{% load books_tags %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href='{% static "books/css/style.css" %}' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="{% static 'books/js/min.js' %}"> </script>
</head>
<body>


<div class="header">
   <div class="icon-bar">
        <a class="active" href="#"><i class="fa fa-home">Домой</i></a>
        <a href="#"><i class="fa fa-envelope"></i>sdsd</a>
        <a href="{% url 'books:genre_cat' pk=1 %}"><i class="fa fa-globe"></i> sd</a>
       <a href="{% url 'books:add_books' %}"><i class="fa fa-trash"></i>Регистрация</a>



   </div>
</div>



{% block content %}
{% endblock content %}






</body>
</html>