{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href='{% static "books/css/style.css" %}' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="top_bar_black"> <div id="logo_container"> <div id="logo_image"> <img src="{% static 'books/image/logo.gif' %}"></div>
	<div id="nav_block" class="scrollmenu">
	    <div class="nav_button"><a href="{% url 'books:home' %}">Домой</a></div>
	    <div class="nav_button"><a href="{% url 'books:genre' %}">Жанры</a></div>
	    <div class="nav_button"><a href="#">Contact </a> </div>
		<div class="nav_button"><a href="#">About</a> </div>
		<div class="nav_button"><a href="#">Links</a> </div>


	  </div>
</div> </div>

{% block content %}
{% endblock content %}




</body>
</html>